@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my first ASP.NET Core MVC project.</p> 
    <p>I made it thanks to Professor Dr. Nelio Alves, by taking his course: <a href="http://educandoweb.com.br">"C# COMPLETO - Programação Orientada a Objetos + Projetos"</a></p>
    <p>Project adapted to .NET 8.0 -- Hope you like it!</p>
</div>
